html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #89918e);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 20em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

.grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
}

.btn-success, .btn-danger {
  color: orange;
}
